@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.whole {
    background-color: black;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    color: white;
    background: rgba(0, 0, 0, 0.327);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
}

.logo2 {
    width: 100px;
    color: black;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    margin-left: 100px;
    color: white;
}

.hero-text {
    margin-bottom: 50px;
}

.big-text {
    background-color: black;
    color: yellow;
    text-align: center;
    padding: 100px;
}

.heading1 {
    font-size: 5rem;
}

.my-name {
    font-size: 2rem;
    color: white;
}

.frontend-text {
    font-size: 3rem;
    margin-top: 50px;
}

.socials {
    position: fixed;
    top: 35%;
    left: -100px;
}

.socials ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials ul li {
    cursor: pointer;
    width: 150px;
    text-align: left;
    border: 1px solid yellow;
    padding: 7px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    border: solid 1px yellow;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: yellow;
    color: black;
}

.one-social {}

.one-social:hover {
    margin-left: 100px;
    transition: ease-in-out 0.3s;
}

.service-box {
    width: 300px;
    background-color: yellow;
    border-radius: 10px;
    padding: 10px;
}

.service-box h2 {
    font-size: 1.3rem;
    padding: 20px 0 10px 0;
}

.service-box p {
    font-size: 13px;
    line-height: 1.2rem;
}

.service-box img {
    width: 100%;
}

.works-main {
    background-color: black;
    padding: 0 50px;
}

.image-p {
    border-radius: 5px;
}

.view-btn {
    padding: 15px 30px;
    background-color: black;
    color: yellow;
    font-weight: bolder;
    margin-top: 10px;
    border-radius: 10px;
}

.view-btn:hover {
    background-color: rgb(212, 20, 212);
    color: white;
    transition: 0.3s ease-in-out;
}

.project-section {
    display: flex;
    padding: 10%;
    align-items: center;
    justify-content: space-around;
}

.hero-section {
    background-color: black;
}

.contact-container {
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.contact-container form {
    padding: 10px;
    margin-top: 0;
    width: 670px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
    background: rgba(224, 223, 126, 0.821);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(243, 240, 38, 1);
}

.contact-container form h1 {
    margin: 20px 0;
    width: 500px;
    text-align: center;
}

.contact-container form input {
    width: 40%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid black;
}

.contact-container form input::placeholder {
    color: black;
}

.contact-container form #lastname,
.contact-container form #mobile {
    margin-left: 20px;
}

.contact-container form h4 {
    width: 500px;
    margin: 30px;
    align-items: center;
}

.contact-container form textarea {
    background: rgba(0, 0, 0, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(0, 0, 0, 1);
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    padding: 20px;
    outline: none;
    min-width: 500px;
    max-width: 500px;
    min-height: 80px;
}

.contact-container form #button {
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.contact-container form #button:hover {
    background-color: purple;
    color: white;
    transition: ease-in-out 0.3s;
    margin-top: 23px;
}

.skill {
    height: 100px;
    width: 100px;
    background: transparent;
    display: flex;
    align-items: center;
}

.skill img {
    width: 100%;
}

.skills-gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    padding: 0 20%;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.skills h2 {
    font-size: 2.5rem;
}
